#imagem{
    overflow: hidden;
    margin: 10px;
    width: 1000px;
    height: 250px;
}

header nav li{
    display: inline-block;
    padding: 10px;
    background-color: rgb(126, 126, 133, 40%);
}
.texto{
    border: 2px solid black;
    width: 800px;
    height: 420px;
    float: left;
}
.texto2{
   border: 2px solid black;   
   width: 190px;
   padding: 10px;
   float: right;
}
