body{
    background-color: rgba(0, 255, 255, 0.193);
}
.tudo{
    text-align:center;
}
#praia{
    width: 600px;
    height: 200px;
}

.lista{
    float: left;
    list-style-type: none;
    padding: 10px;
    text-align: center;
    

}
.tabela{
    
    text-align: center;
   
}
