
.esq_cima{
   background-color: aqua;
   top:0;
   left:0;
   width: 150px;
   height: 150px;
   position: absolute;
}

.esq_baixo{
    background-color: rgb(255, 0, 0);
    width: 150px;
    height: 150px;
    position: absolute;
    bottom:0;
   left:0;
}

.dir_cima{
    background-color: rgb(0, 255, 38);
    width: 150px;
    height: 150px;
    position: absolute;
    top:0;
    right:0;
}

.dir_baixo{
    background-color: rgb(221, 0, 255);
    width: 150px;
    height: 150px;
    position: absolute;
    bottom:0;
     right:0;
}