@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Montserrat&display=swap');

*{
    margin: 0;
    padding: 0;
    overflow: hidden;
}

@media only screen and (max-width: 1400px) {
    *{
        overflow: auto;
    }
}



/* nav */
.nav{
    width: 100%;
    height: 70px;
    background-color: rgb(128, 128, 128, 30%);
}

.nav img{
    padding: 10px 10px 10px 70px;
    width: 170px;
    height: 65px;
}




/* quad1 */

.tudo{
    background-color: rgb(128, 128, 128, 30%);
    border-radius: 7px;
    height: 500px;
    
}


/* todos */
.botoes{
    padding: 50px 30px 30px 0px;
}


/* cada botao */
#buton{
    padding: 13px 20px 13px 20px;
    background-color: rgb(0, 140, 0);
}

/* botao 3 */
 #opcoes{
    color:green;
}

#opcoes2{
  background-color: rgb(0, 140, 0);
  border:0;
  width: 240px;
  height: 52px;
  font-size:15px;   
}


/* senhas */
#extra{
    height:150px;

}

#senhas_titulo{
    font-size: 25px;
    color:green;
}

.refeicoes hr{
    position: relative;
    top:-10px;
}
#reserv_senha{
    border: 0;
    background-color: rgb(128, 128, 128, 0%);
    color:green;
}



/* perfil/quad2 */
.perfil{
    background-color: rgb(128, 128, 128, 30%);
    border-radius: 7px;
    height: 450px;
    width: 500px;
    
}

#foto{
    position: relative;
    padding: 20px;
    font-size:50px;
    color:green;
    float: left;
}

#linha_perfil1{
    position: relative;
    left:25px;
    top:-10px;
}


.nome-mail{
    position: relative;
    top:-5px;
    font-family: 'Lato', sans-serif;
    font-family: 'Montserrat', sans-serif;
}


.inform{
    width: 80%;
    height: 50%;
    position: relative;
    left:30px;
    top:-10px;
    font-size:15px;
    font-family: 'Lato', sans-serif;
    font-family: 'Montserrat', sans-serif;
}

.inform hr{
    position: relative;
    top:-10px;
}

/* imagens das opcoes */
#nome-img{
    position: relative;
    left:5px;
    top:5px;
    color:black;
}


/* tirar borda do botao */
#links{
    border: 0;
    background-color: rgb(128, 128, 128, 0%);  
}
