#enviar{
    padding: 10px 30px 10px 30px;
    border: 5px;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.538);
    color: rgb(255, 255, 255);
    cursor: pointer;
    font-size: 20px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;
}
#box{

    font-size: 20px;
    border: 1px solid black;
    width: 20px;
    padding: 10px;


}
.tudo{
    height: 10px;
}